<h1><%= user.email %></h1>
<br />
<%= render 'profiles/follower_count', user: user %>
<div><%= user.followees.count %> following</div>

<% if user == current_user %>
    <%= link_to "Edit Profile", edit_user_registration_path %>
<% elsif current_user %>
    <%= render 'profiles/follow_button', user: user %>
<% end %>